<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a href="/user" class="nav-link">
                    <i class="nav-icon fas fa-fw fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>

            <% if(access.includes('feedback_access')){ %>
                <li class="nav-item">
                    <a href="/user/feedbacks"
                        class="nav-link {{ request()->is('user/feedbacks') || request()->is('user/feedbacks/*') ? 'active' : '' }}">
                        <i class="fa-fw fas fa-laptop nav-icon">

                        </i>
                        FeedBacks
                    </a>
                </li>
                <% } %>


                    <li class="nav-item">
                        <a href="#" class="nav-link"
                            onclick="event.preventDefault(); document.getElementById('logoutform').submit();">
                            <i class="nav-icon fas fa-fw fa-sign-out-alt">

                            </i>
                            logout
                        </a>
                    </li>
        </ul>

    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>